.greet {
  margin: 0;
  font-weight: 700;
  line-height: 1.167;
  color: transparent;
  background: linear-gradient(
    to right,
    #ffd700,
    #ffcb00,
    #ffbe00,
    #ffb200,
    #ffa600
  );
  -webkit-background-clip: text;
  -webkit-background-clip: text;
  background-clip: text;
  display: inline;
}


@media (max-width: 390px) {
  .text-base {
    font-size: 0.8rem;
    line-height: 1.1rem;
  }
}
  
  


